
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a7d8d8;
  font-family: "Comic Relief", system-ui;
}

.container {
  height: 300px;
  width: 300px;
  margin: 50px 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  border: 6px solid black;
}

.box {
  height: 97px;
  width: 97px;
  font-size: xxx-large;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.reset {
  font-size: xx-large;
  border: 3px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  padding: 8px 20px;
  margin-top: 10px;
}

.msg-container {
  font-size: xxx-large;
  margin-top: 50px;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
}
